.seccion {
    padding: 5rem 0;
    display: none;

    .text-center {
        text-align: center;
    }
}

.mostrar {
    display: block;
}
.ocultar {
    display: none;
}
.swal2-popup {
    font-size: 1.8rem !important;
    font-family: Georgia, serif;
}
.noHayCita {
    padding-top: 5rem;
}